/*      light colors         */
/*           Font Smoothing      */
.card h4, .card p {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.card h4{
  font-weight: 400;
  margin: 30px 0 15px;
  font-size: 24px;
  line-height: 30px;
}
.card h6{
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
.card p {
  font-size: 16px;
  line-height: 1.3;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.card .price h4 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}


/* General overwrite */
body{
  font-family:"Roboto", Arial, sans-serif;
  background-color: #EEF5F9;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-default .navbar-brand:hover {
    color: #33B35A;
}

.navbar-default .navbar-nav>li>a:hover,.navbar-nav>li>a:focus {
    color: #33B35A;
}

a {
  color: #ffffff;
}
a:hover, a:focus {
  
  color: #33B35A;
  text-decoration: none;
}

a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,

}
.filter,
.btn-hover,
[data-toggle="collapse"] i {
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear;
}


.btn-center {
  text-align: center;
}

.btn {
  border-width: 1px;
  background-color: transparent;
  font-weight: 400;
  opacity: 0.8;
  filter: alpha(opacity=80);
  padding: 8px 16px;
  border-color: #888888;
  color: #888888;
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .open > .btn.dropdown-toggle {
  background-color: transparent;
  color: #777777;
  border-color: #777777;
}


.btn:hover, .btn:focus {
  opacity: 1;
  filter: alpha(opacity=100);
  outline: 0 !important;
}
.btn:active, .btn.active, .open > .btn.dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
}




.btn-neutral {
  border-color: #FFFFFF;
  color: #FFFFFF;
}
.btn-neutral:hover, .btn-neutral:focus, .btn-neutral:active, .btn-neutral.active, .open > .btn-neutral.dropdown-toggle {
  background-color: transparent;
  color: #FFFFFF;
  border-color: #FFFFFF;
}
.btn-neutral.disabled, .btn-neutral.disabled:hover, .btn-neutral.disabled:focus, .btn-neutral.disabled.focus, .btn-neutral.disabled:active, .btn-neutral.disabled.active, .btn-neutral:disabled, .btn-neutral:disabled:hover, .btn-neutral:disabled:focus, .btn-neutral:disabled.focus, .btn-neutral:disabled:active, .btn-neutral:disabled.active, .btn-neutral[disabled], .btn-neutral[disabled]:hover, .btn-neutral[disabled]:focus, .btn-neutral[disabled].focus, .btn-neutral[disabled]:active, .btn-neutral[disabled].active, fieldset[disabled] .btn-neutral, fieldset[disabled] .btn-neutral:hover, fieldset[disabled] .btn-neutral:focus, fieldset[disabled] .btn-neutral.focus, fieldset[disabled] .btn-neutral:active, fieldset[disabled] .btn-neutral.active {
  background-color: transparent;
  border-color: #FFFFFF;
}
.btn-neutral.btn-fill {
  color: #FFFFFF;
  background-color: #FFFFFF;
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn-neutral.btn-fill:hover, .btn-neutral.btn-fill:focus, .btn-neutral.btn-fill:active, .btn-neutral.btn-fill.active, .open > .btn-neutral.btn-fill.dropdown-toggle {
  background-color: #FFFFFF;
  color: #FFFFFF;
}
.btn-neutral.btn-fill .caret {
  border-top-color: #FFFFFF;
}
.btn-neutral .caret {
  border-top-color: #FFFFFF;
}
.btn-neutral:active, .btn-neutral.active, .open > .btn-neutral.dropdown-toggle {
  background-color: #FFFFFF;
  color: #888888;
}
.btn-neutral.btn-fill, .btn-neutral.btn-fill:hover, .btn-neutral.btn-fill:focus {
  color: #888888;
}
.btn-neutral.btn-simple:active, .btn-neutral.btn-simple.active {
  background-color: transparent;
}

.btn-round {
  border-width: 1px;
  border-radius: 30px !important;
  padding: 9px 18px;
}
.btn-round.btn-icon {
  padding: 9px;
}



.card {
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.23);
  background-color: #FFFFFF;
  margin-bottom: 10px;
  position: relative;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}
.card .title,
.card .stats,
.card .category,
.card .description,
.card .social-line,
.card .actions,
.card .content,
.card .footer,
.card small,
.card a {
  position: relative;
  z-index: 3;
}
.card a {
  color: #444444;
}
.card a:hover, .card a:focus {
  color: #333333;
}
.card[data-radius="none"] {
  border-radius: 0px;
}
.card[data-radius="none"] .header {
  border-radius: 0px 0px 0 0;
}
.card[data-radius="none"] .header img {
  border-radius: 0px 0px 0 0;
}
.card.card-plain {
  box-shadow: none;
}
.card .btn {
  text-shadow: none;
  font-weight: bold;
}
.card .title-uppercase {
  text-transform: uppercase;
}

.card .content .price {
  border: 2px solid rgba(255, 255, 255, 0.7);
  color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 5px auto;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}
.card .content .price h4 {
  margin: 2px 0 0;
  font-size: 18px;
}
.card .content .price h6 {
  margin-top: 30px;
  font-size: 18px;
}
.card .content .price .currency {
  font-size: 18px;
  font-weight: normal;
}

.card .filter,
.card .header .actions {
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.76);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  filter: alpha(opacity=0);
}

.card:hover .filter {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.card:hover .header .social-line,
.card:hover .header .actions {
  opacity: 1;
  filter: alpha(opacity=100);
}
.card .category,
.card .label {
  font-size: 14px;
  margin-bottom: 0px;
}
.card .category i,
.card .label i {
  font-size: 16px;
}
.card .category {
  color: #9A9A9A;
}
.card .label {
  text-shadow: none;
}
.card .title {
  color: #333333;
}
.card > .title {
  margin: 0;
  padding: 5px 0 0;
}
.card .content {
  padding: 10px 10px 5px 10px;
}
.card .content .title {
  margin: 10px 0 20px 0;
}
.card .content .category ~ .title {
  margin-top: 0px;
}
.card .content .description ~ .title {
  margin-top: -10px;
}
.card .description {
  font-size: 16px;
  color: #9A9A9A;
}
.card h6 {
  font-size: 12px;
  margin: 0;
}
.card .footer {
  padding: 0 15px 15px;
}
.card .footer .social-line .btn:first-child {
  border-radius: 0 0 0 6px;
}
.card .footer .social-line .btn:last-child {
  border-radius: 0 0 6px 0;
}

.card[data-background="image"] .image, .card[data-background="color"] .image {
  border-radius: 6px;
}
.card[data-background="image"] .title, .card[data-background="color"] .title {
  font-weight: bold;
}
.card[data-background="image"] .filter, .card[data-background="color"] .filter {
  border-radius: 6px;
}
.card[data-background="image"] .title,
.card[data-background="image"] .stats,
.card[data-background="image"] .category,
.card[data-background="image"] .description,
.card[data-background="image"] .content,
.card[data-background="image"] .footer,
.card[data-background="image"] small,
.card[data-background="image"] a, .card[data-background="color"] .title,
.card[data-background="color"] .stats,
.card[data-background="color"] .category,
.card[data-background="color"] .description,
.card[data-background="color"] .content,
.card[data-background="color"] .footer,
.card[data-background="color"] small,
.card[data-background="color"] a {
  color: #FFFFFF;
}

.card[data-background="image"] .filter {
  opacity: 0.55;
  filter: alpha(opacity=55.0);
}
.card[data-background="image"]:hover .filter {
  opacity: 0.75;
  filter: alpha(opacity=75);
}

.filter.filter-blue {
  background: #4087ea;
  background: -moz-radial-gradient(center, ellipse cover, #33B35A 0%, #4087ea 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #533ce1), color-stop(100%, #4087ea));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #33B35A 0%, #4087ea 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #33B35A 0%, #4087ea 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #33B35A 0%, #4087ea 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #33B35A 0%, #33B35A 100%);
  /* W3C */
  background-size: 250% 250%;
}

@media (min-width: 1200px) {
  .card .header {
    height: 265px;
  }
  .card[data-background="color"] .header {
    height: 230px;
  }

  .col-md-3 .card .header,
  .col-sm-3 .card .header,
  .col-xs-3 .card .header,
  .col-lg-3 .card .header {
    height: 185px;
  }
}
/*          Changes for small display      */
@media (max-width: 767px) {
  .navbar-transparent {
    padding-top: 15px;
    background-color: rgba(0, 0, 0, 0.45);
  }

  body {
    position: relative;
  }


}
